<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <script>
        function handleFileSelect(event) {
            const button = document.getElementById('upload-button');
            if (event.target.files.length > 0) {
                
                button.textContent = 'Get Result';
                button.disabled = false;
                
            } else {
                button.textContent = 'Upload';
            }
        }
    </script>
</head>
<body>
    <h1>Upload an image of your skin</h1>
    <h6>Image should be clear and in good lighting</h6>
    <form id="upload-form" action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required onchange="handleFileSelect(event)">
        <button id="upload-button" type="submit">Upload</button>
    </form>
</body>
</html>
